// scrollbar
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: 0 0;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ddd;
}

::-webkit-scrollbar-corner {
  background-color: #535353;
}

::-webkit-scrollbar-resizer {
  background-color: #ff6e00;
}
